* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 100vw;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    align-items: center;
    padding: 92px 50px 89px;
}

address {
    margin-right: 50px;
    max-width: 240px;
    justify-self: end;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

nav a {
    color: black;
}

nav ul {
    display: flex;
    width: 391px;
    gap: 30px;
    list-style: circle;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

nav li:first-child {
    list-style-type: none;
    text-decoration: none;
}

li.active a {
    text-decoration: none;
}

p.active a {
    text-decoration: none;
}

a.logo img {
    width: 148px;
    height: 105px;
    align-self: center;
    margin-left: 36px;
}

.cover {
    position: relative;
    width: 100%;
    height: 757px;
    display: flex;
    flex-direction: column;
    padding-top: 165px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

    .overlay img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

h1 {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    margin: 0;
    padding: 0 50px;
}

h1 span {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}

.align_text1 {
    word-spacing: 20px;
    text-align: left;
    width: 100%;
    align-self: flex-start;
}

.align_text2 {
    word-spacing: 20px;
    text-align: center;
    width: 100%;
}

.align_text3 {
    word-spacing: 20px;
    text-align: right;
    width: 100%;
    align-self: flex-end;
}

.description {
    position: absolute;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    align-content: center;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

    .description p {
        margin: 0;
        font-family: Raleway;
        font-weight: 400;
        font-style: Regular;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

button {
    padding: 12px 32px;
    border: 1px solid white;
    background-color: transparent;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.lots {
    margin: 180px auto 0;
    max-width: 1100px;
    padding: 0 24px;
}

.cards-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card {
    width: 334px;
    padding: 50px 40px 0;
    margin-bottom: 30px;
    background-color: yellow;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    flex-shrink: 0; 
}

.lots h2 {
    margin-bottom: 25px;
    margin-left: 40px;
}

.lots .click {
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-left: 40px;
}

article {
    z-index: 3;
    color: white;
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 40px;
    right: 40px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.cards-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.card {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    margin-bottom: 30px;
    background-color: yellow;
    width: 334px;
    min-height: 600px;
    display: inline-flex;
    gap: 25px;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.card a {
    margin-bottom: 30px;
    height: 100%;
    text-decoration: none;
    z-index: 3;
    color: white;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
}

.about {
    display: grid;
    grid-template-columns: 295px auto;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;
    margin-bottom: 180px;
    min-height: 595px;
}

.about_logo {
    display: flex;
    justify-content: center;
}

div.about_logo img {
    grid-column: 1;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 47px;
}

.about_title {
    margin-top: 133px;
    margin-bottom: 100px;
    margin-left: 72px;
}

.about_text {
    grid-column: 2;
    margin-left: 70px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 693px;
}

.about_text p {
    margin-bottom: 13px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-left: 50px;
    padding-right: 50px;
    height: 180px;
}
.menu {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
